<!-- views/pages/users.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>Registered Users</title>
</head>
<body>
    <div class="container">
        <h2 class="mt-5">Registered Users</h2>
        <ul class="list-group mt-3">
            <% users.forEach(user => { %>
                <li class="list-group-item"><%= user.username %></li>
            <% }) %>
        </ul>
        <a href="/" class="btn btn-primary mt-3">Back to Home</a>
    </div>
</body>
</html>
